.container {
  width: 100%;
  height: 100%;
}

.scoreboardContainer {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  opacity: 0.8;
  background: var(--bg);
}

.timer,
.score {
  font-weight: 500;
  font-size: 18px;
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
}
