.playground {
  position: relative;
  display: grid;
  grid-template-rows: 60% 30%;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.fieldArea {
  padding-top: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-image: var(--bg);
  border-radius: 12px;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--x), 1fr);
  grid-template-rows: repeat(var(--y), 76px);
  gap: 12px;
  z-index: 2;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}

.pickArea {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--bg);
  background-size: 98% 98%;
  background-position: center;
  background-repeat: no-repeat;

  .pickField {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .pickFieldHidden {
    opacity: 0;
    pointer-events: none;
  }

  .rememberBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    color: white;
  }
}
