.container {
  display: grid;
  align-content: center;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.container :global(.swiper) {
  max-width: 100%;
}

.title {
  margin: 0 0 16px;
  text-align: center;
}
