.button {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  appearance: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(155, 164, 239);
  width: 48px;
  height: 48px;
  border-radius: 8px;
  font-weight: 500;
  outline: 0px;
  padding: 0px;
  background-color: rgb(155, 164, 239);
  transition: box-shadow 0.3s, border 0.3s, color 0.3s;
}

.button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 0px;
}
