.container {
  display: grid;
  height: inherit;
  align-content: center;
  --brainbox-card-size: min(70vw, 70vh);
}

.container :global(.swiper) {
  max-width: 100%;
}

.previewContainer {
  --brainbox-card-size: 50vh;
}
