.container {
  display: grid;
  height: inherit;
  align-content: center;
}

.container :global(.swiper) {
  max-width: 100%;
}

.previewContainer {
  --brainbox-card-size: 50vh;
}

@media (min-width: 768px) {
  .container {
    --brainbox-card-size: 70vh;
  }

  .previewContainer {
    --brainbox-card-size: 70vh;
  }
}
