.container {
  display: flex;
  flex-direction: column;
}

.pagination {
  position: static;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  gap: 4px;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

.bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: white;
  background: rgb(155, 164, 239);
}
